{% extends 'base.html' %}
        {% block content %}

<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
        </div>
      </div>
    </div>
  </div>

            <main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello! I am a passionate **Python Developer** specializing in building robust, scalable, and dynamic web applications. I utilize the versatility of the Python ecosystem, often combined with modern front-end technologies, to create websites that are efficient and easy to maintain.
        </p>
        <p>
          My focus is on developing the **entire website using Python**, leveraging powerful frameworks to handle everything from server logic and database integration to routing and user authentication. If you are looking for high-quality web solutions built on a solid foundation, you've come to the right place.
        </p>
      </div>
    </div>
  </div>
</main>
        {% endblock %}