{% extends "base.html" %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx141007-mCfbMLgrCv1h.jpg"
               class="bd-placeholder-img card-img-top"
               alt="Cover art for manga"
               width="100%"
               height="420"
               style="object-fit: contain;">

          <div class="card-body">
            <p class="card-text">sample title name</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                  <a href="{{url_for('edit')}}"><button type="button" class="btn btn-sm btn-outline-secondary">edit</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}